<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Комната {{ room }} - {{ name }}</title>
</head>
<body>
    <div id="chat">
    {% for item in data %}
    <p>{{ item.name }}: {{ item.text }}</p>
    {% end %}
    </div>
    <p><h3>Введите сообщение</h3></p>
    <input type="text" id="text-msg">
    <button type="button" id="send-msg">Отправить</button>
<script type="application/javascript">
let room = {{ room }};
let name = '{{ name }}';
let ws = new WebSocket("ws://localhost:8888/ws?room=" + room + '&name=' + name);
let online_count = 1;
let div = document.createElement('div');
let chat = document.getElementById('chat');
let after_alert = function () {
    ws.close();
    window.location.href = '/';
};

ws.onopen = function () {
    div.innerHTML = '<h3>Сейчас онлайн: ' + online_count + '</h3>';
    document.body.insertBefore(div, document.body.firstChild);
};

document.getElementById('send-msg').onclick = function () {
    let text = document.getElementById('text-msg').value;
    console.log(text);
    let msg = {'room': room, 'text': text, 'name': name};
    console.log(JSON.stringify(msg));
    ws.send(JSON.stringify(msg));
    document.getElementById('text-msg').value = '';
    return false;
};

ws.onmessage = function (event) {
    console.log(JSON.parse(event.data));
    if (JSON.parse(event.data)['type'] === 'message') {
        let new_msg = document.createElement('p');
        new_msg.innerHTML = JSON.parse(event.data)['name'] + ': ' + JSON.parse(event.data)['text'];
        chat.appendChild(new_msg);
    } else if (JSON.parse(event.data)['type'] === 'online') {
        online_count = JSON.parse(event.data)['value'];
        div.innerHTML = '<h3>Сейчас онлайн: ' + online_count + '</h3>';
    } else if (JSON.parse(event.data)['type'] === 'admin-clear') {
        chat.innerHTML = '';
    } else if (JSON.parse(event.data)['type'] === 'admin-kick') {
        alert('Поступил запрос на перезагрузку комнаты, извините за неудобства.');
        after_alert();
    }
    return false;
};

ws.onclose = function () {
    ws.close();
};
</script>
</body>
</html>