{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
</head>
<body>
    <div class="topnav">
        <a class="active" href={% url 'shop-select' %}>Выбор магазина</a>
        <a href=#>Активных товаров на сайте: {{ ITEMS_AMOUNT }}</a>
    </div>
    <br>
<div style="padding-left:16px">
    {% block content %}{% endblock %}
</div>
</body>
</html>