{% extends 'base.html' %}

{% block title %}Магазины{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="shop">Выберите магазин:</label>
        <select id="shop" name="shop">
            {% for shop in shops %}
                <option value="{{ shop.id }}">
                    {{ shop.name }}
                </option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Открыть</button>
    </form>
{% endblock %}