{% extends 'base.html' %}

{% block title %}Фильтр товаров{% endblock %}

{% block content %}
    <table border=2>
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Цена</td>
            <td>Комментарии</td>
        </tr>
        {% for item in object_list %}
            {% if item.is_sold %}
                <tr bgcolor="LightGray">
            {% else %}
                <tr>
            {% endif %}
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        {% for comment in item.comments %}
                            {{ comment }}<br>
                        {% endfor %}
                    </td>
                </tr>
        {% endfor %}
    </table>
    <br>
{% endblock %}