{% extends 'base.html' %}

{% block title %}Фильтр магазинов{% endblock %}

{% block content %}
    <table border=2>
        <tr>
            <td>Название</td>
            <td>Адрес</td>
            <td>Штат сотрудников</td>
            {% if object_list.result %}
                <td>Дополнительные значения</td>
            {% endif %}
        </tr>
        {% for shop in object_list.queryset %}
            <tr>
                <td>{{ shop.name }}</td>
                <td>{{ shop.address }}</td>
                <td>{{ shop.staff_amount }}</td>
                {% if object_list.result %}
                    {% for name, amount in object_list.result.items %}
                        {% ifequal name shop.name %}
                            <td>{{ amount }}</td>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
{% endblock %}