{% extends 'base.html' %}

{% block title %}Магазин {{ shop.id }}{% endblock %}
{% block content %}
    <table border=2>
        <tr>
            <td>Название магазина</td>
            <td>Адрес магазина</td>
            <td>Количество сотрудников</td>
        </tr>
        <tr>
            <td>{{ shop.name }}</td>
            <td>{{ shop.address }}</td>
            <td>{{ shop.staff_amount }}</td>
        </tr>
    </table>
    <br>
    <a href="{% url 'new-department' shop.id %}">Создать департамент</a><br>
{% endblock %}