{% extends 'base.html' %}
{% load shop_urlify %}


{% block title %}Магазин {{ shop.name }}{% endblock %}

{% block content %}
    <h3><a href="{{ shop|shop_urlify }}">{{ shop.name }}</a></h3><br>
    {% if shop.address %}
        {{ shop.address }}
    {% endif %}
    <a href="{% url 'new-department' shop.id %}">Создать департамент</a><br>
    <br>
    <h3>Департаменты</h3>
    {% for department in shop.departments.all %}
        <table border=2>
            <tr>
                <th colspan=4 align="center">
                    {{ department.sphere }} <a href="{% url 'new-item' department.id %}">Добавить товар</a>
                </th>
            </tr>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Комментарии</th>
            </tr>
            {% for item in department.items.all %}
                {% if item.is_sold %}
                    <tr bgcolor="LightGray">
                {% else %}
                    <tr>
                {% endif %}
                <td>{{ item.name }}<br>
                    <form action="{% url 'item-update' item.id %}">
                        <button type="submit">Редактировать</button>
                    </form>
                    <form action="{% url 'item-delete' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Удалить</button>
                    </form>
                </td>
                <td>{{ item.description }}</td>
                <td>{{ item.price|floatformat:"-1" }}</td>
                <td>
                {% for comment in item.comments %}
                    {{ comment }}<br>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'department-update' department.id %}">Изменить департамент</a>
        <a href="{% url 'department-delete' department.id %}">Удалить департамент</a>
        <br>
        <br>
    {% endfor %}

{% endblock %}